*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Calibri', sans-serif;
    background-color: #eee;
    color: #111;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

:root{
    --marquee-width: 100vw;
    --marquee-height: 100vh;
    /* --marquee-elements: 9; */
    --marquee-elements-displayed: 1;
    --marquee-element-width: calc(var(--marquee-width)/var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements)*2s);
}


.marquee{
    width: var(--marquee-width);
    height: var(--marquee-height);
    background-color: #111;
    color: #eee;
    overflow: hidden;

}

.marquee-content{
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling 4s linear infinite;
    
}
@keyframes scrolling{
    0%{transform: translateX(0);}
    100%{transform: translateX(calc(-1*var(--marquee-element-width)*var(--marquee-elements)));}
}
.marquee-content li{
    display: flex;
    justify-content: center;
    width: var(--marquee-element-width);
    flex-shrink: 0;
    font-size: 5rem;
    white-space: nowrap;
    background: url('images/Group.jpg');
    background-position: center;
    background-size: cover;
}







